In [65]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder


df = pd.read_csv('dataResource/valentine_gift_large_dataset.csv')
df.head()

,Recipient_Gender,Recipient_Age,Relationship_Status,Budget,Occasion,Preference,Relationship_Length,Personal_Interest,Special_Note,Gift_Popularity,Gift_Purpose,Past_Gift_Reaction,Delivery_Method,Gift_Wrapping_Preference,Best_Gift
0,Female,29,Single,High ($100-$500),Anniversary Valentine,Sentimental,<6 months,Fitness,Has allergies,Very Popular,Celebration,Disliked,Online Delivery,Fancy Wrapping,Perfume
1,Other,34,Married,Medium ($20-$100),First Valentine,Sentimental,3+ years,Music,Handmade gifts appreciated,Moderately Popular,Celebration,Highly Appreciated,Planned Surprise,No Wrapping,Fashion Accessories
2,Other,56,Single,Low (<$20),First Valentine,Practical,3+ years,Fashion,Tech-savvy,Moderately Popular,Expression of Love,Never Given Gift Before,Online Delivery,Eco-Friendly,Flowers
3,Other,50,Complicated,Luxury (>$500),First Valentine,Fun,6 months - 1 year,Cooking,Prefers practical gifts,Very Popular,Expression of Love,Disliked,Online Delivery,Fancy Wrapping,Fashion Accessories
4,Male,53,Married,Medium ($20-$100),Long-Distance Valentine,Surprise,<6 months,Music,Has allergies,Moderately Popular,Apology,Highly Appreciated,Planned Surprise,Eco-Friendly,Subscription Service

In [ ]:
def clean_data:

In [66]:
# merge two samilar value to one vlaue
def mergeData(column_name, value_one, value_two):
    df[column_name].replace({value_one: value_two}, inplace=True)


mergeData("Recipient_Gender", 'Non-Binary', 'Other')
mergeData("Preference", "Sentimental", "Romantic")
mergeData("Personal_Interest", "Sports", "Fitness")
mergeData("Personal_Interest", "Gaming", "Technology")
mergeData("Best_Gift", "Handmade Gift", "Personalized Gift")
mergeData("Best_Gift", "Chocolates", "Chocolates & Flowers")
mergeData("Best_Gift", "Flowers", "Chocolates & Flowers")
mergeData("Best_Gift", "Jewelry", "Fashion Accessories")

df

/var/folders/52/k42rhzss6c5bdv3dj4p68b6w0000gn/T/ipykernel_78037/3972939396.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column_name].replace({value_one: value_two}, inplace=True)

,Recipient_Gender,Recipient_Age,Relationship_Status,Budget,Occasion,Preference,Relationship_Length,Personal_Interest,Special_Note,Gift_Popularity,Gift_Purpose,Past_Gift_Reaction,Delivery_Method,Gift_Wrapping_Preference,Best_Gift
0,Female,29,Single,High ($100-$500),Anniversary Valentine,Romantic,<6 months,Fitness,Has allergies,Very Popular,Celebration,Disliked,Online Delivery,Fancy Wrapping,Perfume
1,Other,34,Married,Medium ($20-$100),First Valentine,Romantic,3+ years,Music,Handmade gifts appreciated,Moderately Popular,Celebration,Highly Appreciated,Planned Surprise,No Wrapping,Fashion Accessories
2,Other,56,Single,Low (<$20),First Valentine,Practical,3+ years,Fashion,Tech-savvy,Moderately Popular,Expression of Love,Never Given Gift Before,Online Delivery,Eco-Friendly,Chocolates & Flowers
3,Other,50,Complicated,Luxury (>$500),First Valentine,Fun,6 months - 1 year,Cooking,Prefers practical gifts,Very Popular,Expression of Love,Disliked,Online Delivery,Fancy Wrapping,Fashion Accessories
4,Male,53,Married,Medium ($20-$100),Long-Distance Valentine,Surprise,<6 months,Music,Has allergies,Moderately Popular,Apology,Highly Appreciated,Planned Surprise,Eco-Friendly,Subscription Service
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,Other,43,Married,Luxury (>$500),Anniversary Valentine,Luxury,<6 months,Music,Enjoys luxury items,Moderately Popular,Celebration,Never Given Gift Before,Online Delivery,Minimalist,"Experience (Trip, Dinner, etc.)"
1996,Female,26,Engaged,Medium ($20-$100),First Valentine,Surprise,6 months - 1 year,Fashion,Handmade gifts appreciated,Moderately Popular,Expression of Love,Highly Appreciated,Courier,Minimalist,Subscription Service
1997,Other,50,Engaged,Luxury (>$500),First Valentine,Romantic,<6 months,Music,Loves surprises,Very Popular,Spontaneous Surprise,Never Given Gift Before,Planned Surprise,Minimalist,Subscription Service
1998,Other,30,Married,High ($100-$500),Casual Valentine,Romantic,6 months - 1 year,Technology,Enjoys luxury items,Rare Choice,Celebration,Disliked,Online Delivery,No Wrapping,Fashion Accessories
1999,Male,43,Single,Medium ($20-$100),First Valentine,Luxury,6 months - 1 year,Travel,Tech-savvy,Rare Choice,Expression of Love,Highly Appreciated,In-Person,Minimalist,Tech Gadgets

In [67]:
# drop columns
df = df.drop(columns = ['Special_Note', 'Gift_Purpose', 'Past_Gift_Reaction', 'Delivery_Method', 'Gift_Wrapping_Preference'])
df

,Recipient_Gender,Recipient_Age,Relationship_Status,Budget,Occasion,Preference,Relationship_Length,Personal_Interest,Gift_Popularity,Best_Gift
0,Female,29,Single,High ($100-$500),Anniversary Valentine,Romantic,<6 months,Fitness,Very Popular,Perfume
1,Other,34,Married,Medium ($20-$100),First Valentine,Romantic,3+ years,Music,Moderately Popular,Fashion Accessories
2,Other,56,Single,Low (<$20),First Valentine,Practical,3+ years,Fashion,Moderately Popular,Chocolates & Flowers
3,Other,50,Complicated,Luxury (>$500),First Valentine,Fun,6 months - 1 year,Cooking,Very Popular,Fashion Accessories
4,Male,53,Married,Medium ($20-$100),Long-Distance Valentine,Surprise,<6 months,Music,Moderately Popular,Subscription Service
...,...,...,...,...,...,...,...,...,...,...
1995,Other,43,Married,Luxury (>$500),Anniversary Valentine,Luxury,<6 months,Music,Moderately Popular,"Experience (Trip, Dinner, etc.)"
1996,Female,26,Engaged,Medium ($20-$100),First Valentine,Surprise,6 months - 1 year,Fashion,Moderately Popular,Subscription Service
1997,Other,50,Engaged,Luxury (>$500),First Valentine,Romantic,<6 months,Music,Very Popular,Subscription Service
1998,Other,30,Married,High ($100-$500),Casual Valentine,Romantic,6 months - 1 year,Technology,Rare Choice,Fashion Accessories
1999,Male,43,Single,Medium ($20-$100),First Valentine,Luxury,6 months - 1 year,Travel,Rare Choice,Tech Gadgets

In [68]:
y = df['Best_Gift']
X = df.drop(columns=['Best_Gift'])
y

0                               Perfume
1                   Fashion Accessories
2                  Chocolates & Flowers
3                   Fashion Accessories
4                  Subscription Service
                     ...
1995    Experience (Trip, Dinner, etc.)
1996               Subscription Service
1997               Subscription Service
1998                Fashion Accessories
1999                       Tech Gadgets
Name: Best_Gift, Length: 2000, dtype: object

In [69]:
# encode column's value

X = pd.get_dummies(X[['Recipient_Gender',  'Relationship_Status', 'Budget',
       'Occasion', 'Preference', 'Relationship_Length', 'Personal_Interest',
       'Gift_Popularity']])

Index(['Recipient_Gender_Female', 'Recipient_Gender_Male',
       'Recipient_Gender_Other', 'Relationship_Status_Complicated',
       'Relationship_Status_Dating', 'Relationship_Status_Engaged',
       'Relationship_Status_Married', 'Relationship_Status_Single',
       'Budget_High ($100-$500)', 'Budget_Low (<$20)', 'Budget_Luxury (>$500)',
       'Budget_Medium ($20-$100)', 'Occasion_Anniversary Valentine',
       'Occasion_Casual Valentine', 'Occasion_First Valentine',
       'Occasion_Long-Distance Valentine', 'Preference_Fun',
       'Preference_Luxury', 'Preference_Practical', 'Preference_Romantic',
       'Preference_Surprise', 'Relationship_Length_1-3 years',
       'Relationship_Length_3+ years', 'Relationship_Length_6 months - 1 year',
       'Relationship_Length_<6 months', 'Personal_Interest_Art',
       'Personal_Interest_Cooking', 'Personal_Interest_Fashion',
       'Personal_Interest_Fitness', 'Personal_Interest_Music',
       'Personal_Interest_Reading', 'Personal_Interest_Technology',
       'Personal_Interest_Travel', 'Gift_Popularity_Moderately Popular',
       'Gift_Popularity_Rare Choice', 'Gift_Popularity_Very Popular'],
      dtype='object')

In [ ]:
# change y values to number
from sklearn.preprocessing import LabelEncoder

# Sample DataFrame
# Initialize LabelEncoder
le = LabelEncoder()

# Fit and transform the column
y= le.fit_transform(y)

# Print the

In [72]:
y

array([3, 2, 0, ..., 5, 2, 6])

In [70]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split_marketing(df)
X_train.describe()

NameError: name 'train_test_split_marketing' is not defined

# Missing Values

In [ ]:
# Fill the missing values using the imported function
X_train_filled = fill_missing(X_train)
X_test_filled = fill_missing(X_test)
X_train_filled.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
2544,34,blue-collar,married,secondary,no,328,yes,yes,cellular,21,nov,18,7,-1.0,0,nonexistent
3891,30,technician,married,secondary,no,484,yes,no,unknown,6,may,703,1,-1.0,0,nonexistent
19464,42,entrepreneur,divorced,secondary,no,31,no,no,unknown,18,jun,120,1,-1.0,0,nonexistent
31170,27,management,single,tertiary,no,3,yes,yes,cellular,22,jul,506,1,-1.0,0,nonexistent
22216,30,management,single,secondary,no,19,no,no,cellular,26,aug,191,2,-1.0,0,nonexistent

In [ ]:
# Create the encoders for categorical variables (use X_train_filled)
encoders = build_encoders(X_train_filled)
encoders

[{'column': 'job',
  'multi_col_output': True,
  'encoder': OneHotEncoder(handle_unknown='infrequent_if_exist', max_categories=5,
                sparse_output=False)},
 {'column': 'marital',
  'multi_col_output': True,
  'encoder': OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)},
 {'column': 'education',
  'multi_col_output': False,
  'encoder': OrdinalEncoder(categories=[['primary', 'secondary', 'tertiary']],
                 handle_unknown='use_encoded_value', unknown_value=-1)},
 {'column': 'default',
  'multi_col_output': False,
  'encoder': OrdinalEncoder(categories=[['no', 'yes']], handle_unknown='use_encoded_value',
                 unknown_value=-1)},
 {'column': 'housing',
  'multi_col_output': False,
  'encoder': OrdinalEncoder(categories=[['no', 'yes']], handle_unknown='use_encoded_value',
                 unknown_value=-1)},
 {'column': 'loan',
  'multi_col_output': False,
  'encoder': OrdinalEncoder(categories=[['no', 'yes']], handle_unknown='use_encoded_value',
                 unknown_value=-1)},
 {'column': 'contact',
  'multi_col_output': True,
  'encoder': OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)},
 {'column': 'month',
  'multi_col_output': False,
  'encoder': OrdinalEncoder(categories=[['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
                              'aug', 'sep', 'oct', 'nov', 'dec']],
                 handle_unknown='use_encoded_value', unknown_value=-1)},
 {'column': 'poutcome',
  'multi_col_output': True,
  'encoder': OneHotEncoder(drop='first', handle_unknown='ignore', sparse_output=False)}]

In [ ]:
# Encode X_train_filled and X_test_filled
X_train_encoded = encode_categorical(X_train_filled, encoders)
X_test_encoded = encode_categorical(X_test_filled, encoders)

X_train_encoded.head()

,age,balance,day,duration,campaign,pdays,previous,x0_admin.,x0_blue-collar,x0_management,...,x0_telephone,x0_unknown,x0_nonexistent,x0_other,x0_success,education,default,housing,loan,month
0,34,328,21,18,7,-1.0,0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,10.0
1,30,484,6,703,1,-1.0,0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,4.0
2,42,31,18,120,1,-1.0,0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,5.0
3,27,3,22,506,1,-1.0,0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,2.0,0.0,1.0,1.0,6.0
4,30,19,26,191,2,-1.0,0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,7.0

In [ ]:
# Encode y_train and y_test
y_encoder = build_target_encoder(y_train)
y_train_encoded = encode_target(y_train, y_encoder)
y_test_encoded = encode_target(y_test, y_encoder)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, max_depth=7, random_state=13)
model.fit(X_train_encoded, y_train_encoded)
y_pred = model.predict(X_test_encoded)
print(balanced_accuracy_score(y_test_encoded, y_pred))

0.5753911268989494

In [ ]:
# Import new data and test with the model

new_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m14/lesson_3/datasets/bank_marketing_new_data.csv')

In [ ]:
X = new_df.drop(columns='y')
y = new_df['y'].values.reshape(-1, 1)

In [ ]:
X_filled = fill_missing(X)
X_encoded = encode_categorical(X_filled, encoders)
y_encoded = encode_target(y, y_encoder)

In [ ]:
y_pred = model.predict(X_encoded)
print(balanced_accuracy_score(y_encoded, y_pred))

0.5769138944243607